'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Cucumber Autocomplete'
      'command': 'cucumber-autocomplete:toggle'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cucumber Autocomplete'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'cucumber-autocomplete:toggle'
        }
      ]
    ]
  }
]
